<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <% messages.forEach((message, i)=> { %>
        <div class="body">
            <div class="user-info">
                <div class="user-name">
                    <%= message.user %>
                </div>
                <div class="message-date">
                    <%= message.added.toDateString() %>
                </div>
            </div>
            <div class="message">
                <%= message.text %>
            </div>
        </div>
    <% }); %>
</body>

</html>