*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background:linear-gradient(rgb(0, 0, 0), #0000008a), url("images/WhatsApp\ Image\ 2025-08-26\ at\ 06.46.51_453bf423.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}
.body{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 420px;
    margin: 10px;
    border-radius: 10px 100px / 120px;
    padding: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    border: 2px solid rgba(106, 112, 238, 0.392);
    filter: blur(5px);
    filter: none;
    border: 2px solid rgba(106, 112, 238, 0.392);
    box-shadow: 0 0 8px 2px rgba(106, 112, 238, 0.392);    
    background-color: rgba(111, 123, 160, 0.308);
}
.user-info{
    margin: 0px;
    width: 200px;
    padding-left: 5px;;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.user-name{
    font-size: 16px;
    padding-left: 3px;;
    font-weight: bold;
    
    margin: 0px;
    color:rgba(0, 157, 255, 0.927);
    filter: blur(0.4px);
    border-radius: 10px;
}
.message-date{
    font-weight: lighter;
    color:white;
    padding-left: 3px;
    font-style: italic;
    font-size: 10px;
    font-weight: 50;
    margin-bottom: 6px;;
    border-radius: 10px;
}
.message{
    font-size: 16px;
    padding-top:6px;
    font-style: bold;
    padding-bottom: 4px;;
    margin-top: 1px;
    margin-bottom:7px;
    text-align: center;
    background-color: rgba(197, 209, 243, 0.74);
    border-radius: 15px;
}
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/*For mobile Screen*/
@media only screen and (max-width: 600px) {
    body {
        background:linear-gradient(rgba(0, 0, 0, 0.9), #000000ae), url("images/WhatsApp\ Image\ 2025-08-26\ at\ 06.46.51_453bf423.jpg");
        margin-left: 5px;
        margin-right: 5px;
    }
}